<!-- <tr>
    <td class="tdcenter"><label for="courseFee">Course Fee:</label></td>
    <td><input class="form-control" type="text" id="courseFee" name="courseFee" formControlName="courseFee">
        <div *ngIf="!courseFee?.valid && (courseFee?.dirty || courseFee?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!courseFee.errors.required">
              &nbsp; Course Fee is required
            </div>
            <div [hidden]="!courseFee.errors.pattern">
              Enter numeric value
           </div>
        </div>
    </td>
  </tr>
  <br>
  <tr>
    <td class="tdcenter"><label for="course">Course:</label></td>
    <td><input class="form-control" type="text" id="course" name="course" formControlName="course">
        <div *ngIf="!course?.valid && (course?.dirty || course?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!course.errors.required">
              &nbsp; Course is required
            </div>
        </div>
    </td>
  </tr>
  <br>
  <tr>
    <td class="tdcenter"><label for="fatherOcc">Father Occupation:</label></td>
    <td><input class="form-control" type="text" id="fatherOcc" name="fatherOcc" formControlName="fatherOcc">
        <div *ngIf="!fatherOcc?.valid && (fatherOcc?.dirty || fatherOcc?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!fatherOcc.errors.required">
              &nbsp; Father Occupation is required
            </div>
            
        </div>
    </td>
  </tr>
  <br>
  <tr>
    <td class="tdcenter"><label for="experience">Father Experience:</label></td>
    <td><input class="form-control" type="text" id="experience" name="experience" formControlName="experience">
        <div *ngIf="!experience?.valid && (experience?.dirty || experience?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!experience.errors.required">
              &nbsp; Father Experience is required
            </div>
            <div [hidden]="!experience.errors.pattern">
              Enter numeric value
           </div>   
        </div>
    </td>
  </tr>
  <br>
  <tr>
    <td class="tdcenter"><label for="rationCard">Ration Card Number</label></td>
    <td><input class="form-control" type="text" id="rationCard" name="rationCard" formControlName="rationCard">
        <div *ngIf="!rationCard?.valid && (rationCard?.dirty || rationCard?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!rationCard.errors.required">
              &nbsp; Ration Card Number is required
            </div>
        </div>
    </td>
  </tr>
  <br>
  <tr>
    <td class="tdcenter"><label for="fatherAnnualIncome">Father's Annual Income:</label></td>
    <td><input class="form-control" type="text" id="fatherAnnualIncome" name="fatherAnnualIncome" formControlName="fatherAnnualIncome">
        <div *ngIf="!fatherAnnualIncome?.valid && (fatherAnnualIncome?.dirty || fatherAnnualIncome?.touched)" style="color: red; font-size: 14px;">
            <div [hidden]="!fatherAnnualIncome.errors.required">
              &nbsp; Father Annaul Income is required
            </div>
            <div [hidden]="!fatherAnnualIncome.errors.pattern">
              Enter numeric value
           </div>
        </div>
    </td>
  </tr>
  <br> -->
