<div class="container-fluid bodybackground">
<div id="loginbox" style="margin-top:220px;margin-bottom: 220px; " class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
  <div class="panel panel-info" >
      <div class="panel-heading">
          <div class="panel-title">Login</div>
      </div>     

      <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                  
          <form id="loginform" [formGroup]="loginInfo" class="form-horizontal" role="form">
                          
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username" formControlName="username">                                        
              <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="errorAlert">
                <div [hidden]="!username.errors.required">
                  &nbsp; Username is required
                </div>
              </div>
            </div>
              
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
              <div *ngIf="!password?.valid && (password?.dirty ||password?.touched)" class="errorAlert">
                <div [hidden]="!password.errors.required">
                  &nbsp; Password is required
                </div>
              </div>
            </div>
          

            <div style="margin-top:10px" class="form-group">
              <div class="col-sm-12 controls">
                <button type="button" class="btn btn-sm commonButton"  
                 [disabled]="!loginInfo.valid" (click)="goToHome();">
                LOGIN
              </button>
              </div>
            </div>

            <div *ngIf="[invalidcredentials]" class="errorAlert">
              <div [hidden]="invalidcredentials === false">
                &nbsp; Invalid credentials
              </div>
            </div>
            

            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                  Don't have an account! <br>
                  <button type="button" class="btn btn-sm register" 
                  style="background-color: #169747; padding-left: 8%; padding-right: 8%; color: white;" 
                  (click)="goToRegister()">
                Register
              </button>
                </div>
              </div>
            </div>    

          </form>
      </div>
    </div>
</div>
</div>
        
