<div class="container-fluid bodybackground">
  <div class="row" style="margin-bottom: 30px; margin-top: 10px;">
    <div class="col-md-12">
        <h1 class="BMSHead">Banking Management System</h1>
    </div>
  </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">BMS</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/loan">Apply for Loan</a></li>
          <li class="active"><a href="/update">Update Details</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="cursor: pointer" (click)="onLogout()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul> 
      </div>
  </nav> 
  <div class="row" align="center">
    <div class="form-content">
        <form id="updateform" [formGroup]="updateInfo" class="form-horizontal" role="form"> 
        <table class="tablestyle">
            <tr>
                <td class="tdcenter"><label for="name">Name:</label></td>
                <td><input class="form-control" type="text" id="name" name="name" formControlName="name" [(ngModel)]="details.name">
                    <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="errorAlert">
                        <div [hidden]="!name.errors.required">
                          &nbsp; Name is required
                        </div>
                        <div [hidden]="!name.errors.pattern">
                            &nbsp; Name should contain only aphabets and spaces
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="username">Username:</label></td>
                <td><input class="form-control" type="text" id="username" name="username" formControlName="username" [(ngModel)]="details.username">
                    <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="errorAlert">
                        <div [hidden]="!username.errors.required">
                          &nbsp; Username is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="password">Password:</label></td>
                <td><input class="form-control" type="password" id="password" name="password" formControlName="password" [(ngModel)]="details.password">
                    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="errorAlert">
                        <div [hidden]="!password.errors.required">
                          &nbsp; Password is required
                        </div>
                    </div>
                </td>
                </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="address">Address:</label></td>
                <td><textarea class="form-control" rows="4" cols="50" id="address" name="address" formControlName="address" [(ngModel)]="details.address"></textarea>
                    <div *ngIf="!address?.valid && (address?.dirty || address?.touched)" class="errorAlert">
                        <div [hidden]="!address.errors.required">
                          &nbsp; Address is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="country">Country:</label></td>
                <td><select (change)="onSelect($event.target.value)" id="inputCountry" class="form-control" [(ngModel)]="details.country"
                    formControlName="country">
                    <option value="0">--Select--</option>
                    <option *ngFor="let country of countries" value= {{country.id}}>{{country.name}}</option>
                  </select>
                    <div *ngIf="!country?.valid && (country?.dirty || country?.touched)" class="errorAlert">
                        <div [hidden]="!country.errors.required">
                          &nbsp; Country is required
                        </div>
                    </div>
                    
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="state">State:</label></td>
                <td><select id="state" class="form-control" formControlName="state" [(ngModel)]="details.state">
                    <option value="0">--Select--</option>
                    <option *ngFor="let state of states " value= {{state.id}}>{{state.name}}</option>
                  </select>
                    <div *ngIf="!state?.valid && (state?.dirty || state?.touched)" class="errorAlert">
                        <div [hidden]="!state.errors.required">
                          &nbsp; State is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="email">Email Address:</label></td>
                <td><input class="form-control" type="email" id="email" name="email" formControlName="email" [(ngModel)]="details.email"
                    [ngClass]="{'is-invalid' : updateInfo.get('email').touched && updateInfo.get('email').invalid}">
                    <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="errorAlert">
                        <div *ngIf="updateInfo.get('email').errors.required">
                          &nbsp; Email Id is required
                        </div>
                        <div *ngIf="updateInfo.get('email').errors.email">
                            &nbsp; Email should be a valid email addess
                          </div>
                    </div>   
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="gender">Gender:</label></td>
                <td><input type="radio"  name="gender" value="male" formControlName="gender" [(ngModel)]="details.gender">
                    <label for="male">Male</label> &nbsp;&nbsp;
                    <input type="radio"  name="gender" value="female" formControlName="gender" [(ngModel)]="details.gender">
                    <label for="female">Female</label>
                    <div *ngIf="!gender?.valid && (gender?.dirty || gender?.touched)" class="errorAlert">
                        <div [hidden]="!gender.errors.required">
                          &nbsp; Gender is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="contactNo">Contact Number:</label></td>
                <td><input class="form-control" type="text" id="contactNo" name="contactNo" formControlName="contactNo" 
                    [(ngModel)]="details.contactNo">
                    <div *ngIf="!contactNo?.valid && (contactNo?.dirty || contactNo?.touched)" class="errorAlert">
                        <div [hidden]="!contactNo.errors.required">
                          &nbsp; Contact Number is required
                        </div>
                        <div [hidden]="!contactNo.errors.pattern">
                            &nbsp; Contact Number should contain only numericals
                        </div>
                        <div [hidden]="contactNo.errors.minLength">
                            &nbsp; Contact Number should contain 10 Digits
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="dob">Date of Birth:</label></td>
                <td><input class="form-control" type="date" id="dob" name="dob" formControlName="dob" [(ngModel)]="details.dob">
                    <div *ngIf="!dob?.valid && (dob?.dirty || dob?.touched)" class="errorAlert">
                        <div [hidden]="!dob.errors.required">
                          &nbsp; Date of Birth is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr>
                <td class="tdcenter"><label for="accountType">Account Type:</label></td>
                <td><input type="radio"  name="accountType" value="current" formControlName="accountType" [(ngModel)]="details.accountType">
                    <label for="current">Current</label> &nbsp;&nbsp;
                    <input type="radio"  name="accountType" value="salary" formControlName="accountType" [(ngModel)]="details.accountType">
                    <label for="salary">Salary</label> &nbsp;&nbsp;
                    <input type="radio"  name="accountType" value="saving" formControlName="accountType" [(ngModel)]="details.accountType">
                    <label for="saving">Saving</label>
                    <div *ngIf="!accountType?.valid && (accountType?.dirty || accountType?.touched)" class="errorAlert">
                        <div [hidden]="!accountType.errors.required">
                          &nbsp; Account Type is required
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            
            <tr>
                <td class="tdcenter"><label for="panNo">PAN Number:</label></td>
                <td><input class="form-control" type="text" id="panNo" name="panNo" formControlName="panNo" minlength="12" maxlength="12"
                    [(ngModel)]="details.panNo">
                    <div *ngIf="!panNo?.valid && (panNo?.dirty || panNo?.touched)" class="errorAlert">
                        <div [hidden]="!panNo.errors.required">
                          &nbsp; PAN number is required
                        </div>
                        <div [hidden]="updateInfo.get('panNo').errors.minLength">
                            &nbsp; PAN number must be 12 digit
                        </div>
                        <div [hidden]="!panNo.errors.pattern">
                            &nbsp; Enter Valid PAN
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            </table>
       
            <br>
            <button type="button" class="btn btn-lg commonButton"  
            [disabled]="!updateInfo.valid" (click)="goToHome()">
            Update Details
          </button>
        </form> 
    </div>
   
</div>

</div>